@import 'bourbon';
@import 'fonts';

$sans-serif: 'Calibre Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $serif: $sans-serif;
$serif: 'Tiempos Text Web', garamond, baskerville, times, serif;
$gujarati: 'Hind Vadodara', sans-serif;
$transition: 0.4, -0.05, 0, 1.65;

// old transition: 0.22, 0, 0.4, 1

/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

/*=========================================
General Spacing
=========================================== */
.post p,.post ul {
  max-width:600px;
  margin:0 auto;
}
.post p {
  margin-bottom:20px;
}
.post img {
  margin:40px auto;
  position:relative;
  max-width:800px;
  width:100%;
}
.post img+img {
  margin-top: -20px;
}

@mixin clearfix {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*=========================================
Base
=========================================== */

html,body {
    height: 100%;
}

body {
  background: #FFFFFF;
  font: 16px/1 $serif;
  // color: rgba(72, 84, 99, 1);
  color: rgba(0, 0, 0, 1);
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  float: left;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

@include selection {
  color: rgb(122, 111, 0);
  background-color: rgba(235, 211, 0, .75);
}

.yellow {
  color: rgb(122, 111, 0);
  background-color: rgba(235, 211, 0, .75);
}

.list {
  margin: 0 0 2em 0;
  padding: 0 0 0 1.15em;
  p {
    margin: 0;
  }
}

.no-padding {
  padding: 0 !important;
}

.separator {
  @include display(flex);
  @include flex-direction(row);
  padding: 3em 0;
  justify-content: center;
  &:after {
    content: '';
    @include display(flex);
    @include flex-direction(row);
    background-color: rgba(35, 31, 32, 0.2);
    height: 1px;
    width: 25%;
  }
}

.posts {
  display: block;
  font-family: $sans-serif;
  list-style-type: none;
  margin: 0 0 20px 0;
  position: relative;
  li {
    display: block;
    list-style-type: none;
    position: relative;
    margin: 0 0 10px 0;
    a {
      font-size: 1.2em;
    }
    // p {
    //   font-size: 1.5em;
    //   margin: 0;
    // }
  }
}

a {
  // color: rgba(35, 31, 32, 0.8);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  &:before {
    // background-color: rgba(35, 31, 32, .65);
    background-color: rgba(200, 184, 15, 1);
    bottom: -2px;
    content: '';
    height: 2px;
    left: 0;
    opacity: .34;
    position: absolute;
    @include transition(all 300ms cubic-bezier($transition));
    width: 100%;
    z-index: -1;
  }
  &:hover, &.active, &:focus {
    outline-width: 0;
    &:before {
      background-color: rgba(245, 234, 119, 1);
      bottom: 2px;
      height: .8em; //24px 1.3em
      opacity: 1;
      transform: none;
    }
  }
  &[class] {
    &:hover, &:focus {
      &:before {
        opacity: .34;
      }
    }
    &:before {
      opacity: .34;
    }
  }
  &.active {
    &:hover, &:focus {
      &:before {
        opacity: 1;
      }
    }
    &:before {
      opacity: 1;
    }
  }
  &.deep {
    cursor: help;
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(245, 234, 119, 1);
      }
    }
  }
  &.mongodb {
    &:before {
      background-color: rgba(127, 200, 86, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(127, 200, 86, 1);
      }
    }
  }
  &.behalf {
    &:before {
      background-color: rgba(40, 202, 255, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(40, 202, 255, 1);
      }
    }
  }
  &.cota {
    &:before {
      background-color: rgba(133, 98, 234, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(133, 98, 234, 1);
      }
    }
  }
  &.saavn {
    &:before {
      background-color: rgba(48, 181, 90, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(48, 181, 90, 1);
      }
    }
  }
  &.livestream {
    &:before {
      background-color: rgba(207, 32, 46, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(207, 32, 46, 1);
      }
    }
  }
  &.twitter {
    &:before {
      background-color: rgba(29, 161, 242, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(29, 161, 242, 1);
      }
    }
  }
  &.dribbble {
    &:before {
      background-color: rgba(234, 76, 137, 1);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(234, 76, 137, 1);
      }
    }
  }
  &.linkedin {
    &:before {
      background-color: rgba(0, 119, 181, 1);
    }
    &:hover, &:active, &:focus {
      &:before {
        background-color: rgba(0, 119, 181, 1);
      }
    }
  }
  &.instagram {
    &:before {
      background: linear-gradient(90deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }
    &:hover, &.active, &:focus {
      &:before {
        background: linear-gradient(90deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      }
    }
  }
  &.sakhi {
    &:before {
      background-color: rgba(94, 44, 112, 1);
    }
    &:hover, &:active, &:focus {
      &:before {
        background-color: rgba(94, 44, 112, 1);
      }
    }
  }
  &.strava {
    &:before {
      background-color: rgba(252, 76, 3, 1);
    }
    &:hover, &:active, &:focus {
      &:before {
        background-color: rgba(252, 76, 3, 1);
      }
    }
  }
  &.earth {
    &:before {
      background: linear-gradient(90deg, rgb(10, 43, 209) 0%, rgb(66, 93, 230) 25%,#1deecb 50%, rgb(190, 223, 44) 75%,rgb(13, 211, 30) 100%);
    }
    &:hover, &:active, &:focus {
      &:before {
        background: linear-gradient(90deg, rgb(10, 43, 209) 0%, rgb(66, 93, 230) 25%,#1deecb 50%, rgb(190, 223, 44) 75%,rgb(13, 211, 30) 100%);
      }
    }
  }
  &.applemusic {
    &:before {
      background: linear-gradient(90deg, #7C6CFF 0%, #DA5AB1 25%,#E66289 50%, #AA7EB1 75%,#4D9FFB 100%);
    }
    &:hover, &:active, &:focus {
      &:before {
        background: linear-gradient(90deg, #7C6CFF 0%, #DA5AB1 25%,#E66289 50%, #AA7EB1 75%,#4D9FFB 100%);
      }
    }
  }
  &.goodreads {
    &:before {
      background-color: rgba(57, 33, 16, 1);
    }
    &:hover, &:active, &:focus {
      &:before {
        background-color: rgba(57, 33, 16, 1);
      }
    }
  }
  &.svbtle {
    &:before {
      background-color: rgba(0, 0, 0, .75);
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(0, 0, 0, .75);
      }
    }
  }
  &.card {
    &:before {
      opacity: 0;
    }
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(255, 255, 255, 1);
        opacity: 0;
      }
    }
  }
  &.button {
    border-radius: 100pt;
    // color: rgba(35, 31, 32, .8);
    font-family: $sans-serif;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5em .75em;
    @include transition(all 300ms cubic-bezier($transition));
    &:hover {
      background-color: rgba(245, 234, 119, 1);
      text-decoration: none;
    }
  }
}

p {
  &.button {
    font-family: $sans-serif;
    font-size: .9em !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    position: relative;
    &:before {
      background-color: rgba(35, 31, 32, .65);
      bottom: -2px;
      content: '';
      height: 1px;
      left: 0;
      opacity: .34;
      position: absolute;
      @include transition(all 300ms cubic-bezier($transition));
      width: 100%;
      z-index: -1;
    }
    &:hover, &.active, &:focus {
      outline-width: 0;
      &:before {
        background-color: rgba(245, 234, 119, 1);
        bottom: 2px;
        height: .8em; //24px 1.3em
        opacity: 1;
        transform: none;
      }
    }
  }
}

section, header, footer {
  margin: 0 auto;
  max-width: 700px;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(space-between);

  float: left;
  padding: 0 3em;
  margin: 0 auto;
  .column-wrap {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include justify-content(space-between);
    @include align-content(space-between);
    @include flex(1 1 calc(33% - 3em));
    @include transition(all 300ms cubic-bezier($transition));

    padding: 0;
    margin: 0;
    min-width: calc(50% - 2em);
  }
  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .column-wrap {
        @include flex(1 1 calc(50% - 2em));
      }
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 0;
    .column-wrap {
      min-width: 65%;
      @include flex(1 1 65%);
      padding: 5%;
    }
  }
  .column {
    @include display(block);
  }
  p {
    // margin-bottom: 2em;
  }
}

section {
  background: #fff;
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
  }
  &#intro {
    padding: 0;
  }
  &#about {
    padding: 0;
    width: 100%;
    .hero {
      background: url('/images/deep.jpg');
      background-size: 400px 400px;
      background-repeat: no-repeat;
      display: block;
      width: 400px;
      height: 400px;
    }
    article {
      padding: 0 3em 2em 3em;
      @media only screen
        and (min-width: 320px)
        and (max-width: 568px) {
          padding: 2em 2em;
      }
    }
  }
  &#about, &#portfolio, article {
    p {
    }
  }
  &#portfolio {
    padding: 0;
  }
}

img {
  max-width:100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: rgba(35, 31, 32, 0.2);
  position: absolute;
  right: -20px;
  top: -5px;
}

video {
  margin: .5em 0;
  width: 320px;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  // color: rgba(72, 84, 99, 1);
  font-family: $sans-serif;
  font-weight: 500;
  // line-height: 1.3;
  margin-bottom: .5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.6;
}

h4 {
  font-size: 1.25em;
}

p {
  // color: rgba(35, 31, 32, .8);
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1.2em;
  &:last-child {
    margin-bottom: 0;
  }
}

.heading {
  // color: rgba(72, 84, 99, 1);
  font-family: $sans-serif;
  line-height: 1.3;
  margin: 0 0 1em 0;
  &.center {
    text-align: center;
  }
}

.meta {
  // color: rgba(35, 31, 32, .65);
  font-family: $sans-serif;
  font-size: .7em;
  letter-spacing: .75px;
  margin: 0em 0 1em 0;
  text-transform: uppercase;
}

.sans {
  font-family: $sans-serif;
}

.about-bio-full p {
  padding: 60px 0 40px 0;
  position: relative;
  &:before {
    content: ".";
    text-indent: -5000px;
    color: rgba(255, 255, 255, 0.01);
    width: 1px;
    height: 90px;
    position: absolute;
    border-radius: 100px;
    // background: #BCDED4;
    background: rgb(238, 200, 30);
    top: -50px;
    left: 0px;
  }
  &:after {
    content: ".";
    text-indent: -5000px;
    color: rgba(255, 255, 255, 0.01);
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 100px;
    // border: 1px solid #BCDED4;
    border:1px solid rgb(238, 200, 30);
    box-shadow: 0 0 0 2px #fff;
    background: rgb(238, 200, 30);
    top: -13px;
    left: 0px;
    margin-left: -4px;
  }
  &.first {
    &:before {
      height: 45px;
      top: -2px;
    }
  }
}

.story-date {
  color: rgb(238, 200, 30);
  margin-left: 15px;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.fade {
  color: rgba(35, 31, 32, .65);
  margin: 0;
  a {
    color: rgba(35, 31, 32, .65);
  }
}

/* Switch */

.switch {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 60px;
  height: 34px;
  &.small {
    width: 35px;
    height: 20px;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  @include transition(all 300ms cubic-bezier($transition));
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    @include transition(all 300ms cubic-bezier($transition));
  }
  &.small {
    &:before {
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
    }
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider.small:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* End Switch */

[data-bio] {
  cursor: pointer;
}

em, .em {
  font-style: italic;
}

strong, .strong {
  font-weight: 700;
}

/*=========================================
Header
=========================================== */

#navigation {
  background: #fff;
  display: flex;
  padding: 2em 3em 4em;
  position: relative;
  width: 100%;
  float: left;
  h2 {
    display: flex;
    align-self: center;
    font-family: $sans-serif;
    line-height: 1;
    margin-bottom: 0;
    a {
      display: flex;
      @include transition(all 300ms cubic-bezier($transition));
      &:before {
        background: none;
      }
      &:hover, &.active, &:focus {
        .header-deep {
          color: rgba(255, 255, 255, 0);
          mix-blend-mode: hard-light;
          -webkit-text-fill-color: rgba(255, 255, 255, 0);
          -moz-text-fill-color: rgba(255, 255, 255, 0);
          -webkit-text-stroke-color: rgba(35, 31, 32, 1);
          -moz-text-stroke-color: rgba(35, 31, 32, 1);
          -webkit-text-stroke-width: 1px;
          -moz-text-stroke-width: 1px;
          transform: scale(1.5);
          &-one {
            top: -10px;
            left: -10px;
            opacity: 1;
            -webkit-text-stroke-color: rgb(235, 7, 53);
            -moz-text-stroke-color: rgb(235, 7, 53);
          }
          &-two {
            opacity: 1;
            -webkit-text-stroke-color: rgb(57, 236, 0);
            -moz-text-stroke-color: rgb(57, 236, 0);
          }
          &-three {
            top: 10px;
            left: 10px;
            opacity: 1;
            -webkit-text-stroke-color: rgb(0, 39, 236);
            -moz-text-stroke-color: rgb(0, 39, 236);
          }
        }
        &:before {
          background: none;
        }
      }
      .header-deep {
        display: flex;
        font-family: $gujarati;
        align-self: center;
        margin-left: auto;
        position: absolute;
        @include transition(all 300ms cubic-bezier($transition));
        width: 100%;
        &-one {
          top: 0px;
          left: 0px;
          opacity: 1;
        }
        &-two {
          position: relative;
          opacity: 1;
        }
        &-three {
          top: 0px;
          left: 0px;
          opacity: 1;
        }
      }
    }
  }

  #nav-wrap {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 30px 30px 0px 30px;
  }

  #logo {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 0px;
  }

  ul {
    float: right;
    font-family: $sans-serif;
    list-style-type: none;
    margin-left: auto;
    position: relative;
    vertical-align: middle;

    li {
      float: left;
      list-style-type: none;
      padding-left: 1.5em;
      position: relative;
      p {
        font-size: 1.5em;
        margin: 0;
      }
      h3 {
        margin: 0;
      }
      a {
        color: rgba(35, 31, 32, .5);
        @include transition(all 300ms cubic-bezier($transition));
        &:before {
          // background: none;
        }
        &:hover, &.active, &:focus {
          color: rgba(35, 31, 32, 1);
          &:before {
            // background: none;
          }
        }
      }
    }
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
      h2 {
        width: 100%;
      }
      ul {
        align-self: center;
        display: flex;
        float: initial;
        margin: 0;
        li {
          margin: 0;
          padding-left: 1em;
          p {
            margin-bottom: 0;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
  }
}

/*=========================================
Animation Classes
=========================================== */

.hands-wrapper{
  &:hover {
    .hands {
      animation: waver 0.65s alternate infinite;
      transform-origin: 50% 70%;
      animation-timing-function: ease-in-out;
      display: inline-flex;
      @include transition(all 300ms cubic-bezier($transition));
    }
  }
}

/*=========================================
Cards
=========================================== */

.writing {
  list-style-type: none;
}

#cards {
  float: left;
  padding: 0;
  margin: 0 auto;

  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(space-between);

  a.card {
    text-decoration: none;
    &:before {
      background: none;
    }
    &:hover, &:active, &:focus {
      &:before {
        background: none;
      }
    }
  }

  .card {
    background-color: rgba(255, 255, 255, .75);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5pt;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 1em -2em;
    padding: 2em;
    position: relative;
    z-index: 2;

    min-width: calc(100% - 3em);

    // flex: 0 calc(50% - 2em) 1;

    transform: scale(1);

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include justify-content(space-between);
    @include align-content(space-between);
    @include flex(1 1 calc(33% - 3em));

    @include transition(all 300ms cubic-bezier($transition));

    @include clearfix;

    .card-content {
      @include display(block);
    }

    .button {
      @include transition(all 300ms cubic-bezier($transition));
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(0, 0, 0, .4);
      box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);

      transform: scale(1.02);
      .button {
        background-color: rgba(245, 234, 119, 1);
        text-decoration: none;
        outline-width: 0;
        &:before {
          background-color: rgba(245, 234, 119, 1);
          bottom: 2px;
          height: .8em; //24px 1.3em
          opacity: 1;
          transform: none;
        }
      }
    }

    h1, h2, h3, h4, h5, h6 {
      // font-family: $sans-serif;
      font-style: normal;
    }

    h2, p {
      float: left;
      margin: 0;
      width: 100%;
    }
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    p {
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.5;
      margin: .1em 0 0 0;
    }
    .thumbnail {
      border: 1px solid rgba(0, 0, 0, .15);
      display: block;
      margin: 0 0 1em 0;
      padding: 0;
      opacity: 1;
      outline: none;
      overflow: hidden;
      @include transition(all 300ms cubic-bezier($transition));
      img {
        display: block;
        opacity: 1;
        outline: none;
        // transform: scale(1.1);
        margin: 0;
        // @include transition(all 260ms cubic-bezier($transition));
      }
      &:hover {
        opacity: .85;
        outline: none;
      }
    }
    .meta-title {
      // color: rgba(72, 84, 99, 1);
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      // font-size: 1.6em;
      font-weight: 400;
      float: left;
      margin: 0 0 .1em 0;
    }
    .button {
      float: initial;
      margin: 1em 0 0 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        float: left;
        width: auto;
      }
    }

    h3 {
      @include transition(all 300ms cubic-bezier($transition));
    }

    p {
      margin: 0;
    }

    .meta {
      color: rgba(35, 31, 32, .65);
      font-family: $sans-serif;
      font-size: .7em;
      letter-spacing: .75px;
      margin: 0em 0 1em 0;
      text-transform: uppercase;
      &.strong {
        font-weight: 700;
      }
    }

  }

  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .card {
        @include flex(1 1 calc(50% - 2em));
      }
    }

  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 0;
      .card {
        min-width: 65%;
        margin: 1em -1em;
        @include flex(1 1 100%);
        padding: 7.5%;
      }
  }
}

pre {
  border-radius: 5pt;
  font-family: 'source-code-pro', monospace;
  font-weight: 500;
  line-height: 1.5;
  padding: .5em;
  margin: 0 0 1em 0;
}

code {
  font-size: .9em;
}

/*=========================================
Article
=========================================== */

article, figure, pre {
  float: left;
}

article {
  margin: 0 auto;
  // padding: 2em 3em;
  padding: 2em 0;
  max-width: 700px;

  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      // padding: 1em;
      padding: 1em 0;
  }

  header, section, figure, h1, h2, h3, h4, h5, h6, p {
  }
  img, video, iframe {
    width: auto;
    max-width: 49%;
  }
  figure {
    border: 1px dotted rgba(35, 31, 32, .4);
    border-radius: 5pt;
    float: right;
    margin: 0 0 1em 1em;
    padding: 1em;
    max-width: 20em;
    width: 100%;
    img, video, iframe {
      float: initial;
      margin: 0 auto;
      // max-width: 20em;
      vertical-align: top;
      width: 100%;
      max-width: 100%;
    }
    figcaption {
      display: inline-block;
      font-size: .9em;
      font-style: italic;
      line-height: 1.5;
      padding: 1em 0 0 0;
      width: auto;
      width: 100%;
      + img, video, iframe {
        padding: 1em 0;
      }
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    float: initial;
    width: auto;
  }
  h1 {
    margin: 0 0 .5em 0;
  }
  h2 {
    font-weight: 400;
    margin: 0 0 .1em 0;
    padding: 0;
    &.lead {
      margin-bottom: .5em;
    }
  }
  h3 {
    font-weight: 400;
    margin: 1em 0;
  }
  p {
    color: rgba(35, 31, 32, 0.8);
    margin: 0 0 1em 0;
    + h3, + h2, + h1 {
      margin: 1em 0 1em 0;
    }
    &:last-child {
      margin: 0;
    }
  }
}

/*=========================================
Library
=========================================== */

.bookloader-background-master {
    background: #fff;
    position: absolute;
    height: 15px;
    width: 250px;
}

.bookloader-item {
    /* background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
    max-width: 200px;
    min-height: 230px; */
    display: flex;
    flex: 1 0 200px;
    flex-flow: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.bookloader-animated-background {
  display: flex;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 240px;
  width: 200px;
  position: relative;
}

/* Every thing below this is just positioning */

.bookloader-background-master.bookloader-book {
  top: 0px;
  left: 100px;
  height: 150px;
}

.bookloader-background-master.bookloader-below-book {
  top: 150px;
  left: 0px;
}

.bookloader-background-master.bookloader-book-title {
  top: 165px;
  left: 150px;
}

.bookloader-background-master.bookloader-below-book-title {
  top: 180px;
  left: 0px;
}

.bookloader-background-master.bookloader-book-author {
  top: 195px;
  left: 100px;
}

.bookloader-background-master.bookloader-below-book-author {
  top: 210px;
  left: 0px;
}

.bookloader-background-master.bookloader-book-link {
  top: 225px;
  left: 120px;
}


.books {
  display: flex;
  flex: 1 0 200px;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
}

.book {
  display: flex;
  flex: 1 0 200px;
  flex-flow: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.book-image {
  display: flex;
  &-link {
    align-self: flex-start;
    margin-bottom: .5em;
    @include transition(all 300ms cubic-bezier($transition));
    transform: scale(1.0);
    &:before {
      bottom: 0px;
      height: 0px;
      background: none;
    }
    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, .75);
      transform: scale(1.05);
      &:before {
        bottom: 0px;
        height: 0px;
        background: none;
      }
    }
  }
}

.book-title {
  display: flex;
  font-size: 12px;
  margin-bottom: .2em;
}

.book-author {
  display: flex;
  font-size: 12px;
  margin-bottom: .2em;
}

.book-link {
  display: flex;
  font-size: 12px;
}


/*=========================================
Footer
=========================================== */

#footer {
  @include clearfix;
  background: #fff;
  float: left;
  font-family: $sans-serif;
  padding: 2em 3em;
  position: relative;
  width: 100%;
  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
      padding: 2em 2em;
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 2em 1em;
  }
  .hands-wrapper{
    &:hover {
      .hands {
        animation: waver 0.65s alternate infinite;
        transform-origin: 50% 70%;
        animation-timing-function: ease-in-out;
        display: inline-flex;
        @include transition(all 300ms cubic-bezier($transition));
      }
    }
  }
  #footer-wrap {
    border-top: 1px solid rgba(35, 31, 32, .25);
    background: rgba(255, 255, 255, 1);
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
    position: relative;
    z-index: 2;
  }
  p {
  }
  .row {
    padding: 0;
    margin: 3em 0 0 0;
    .column-wrap {
      margin: 1em 1em 1em 0em;
    }
  }
  ul {
    float: left;
    li {
      float: left;
      list-style-type: none;
    }
  }
}

.insta-wrap {
  @include display(inline-flex);
  margin: -.5em;
  .insta {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    float: left;
    list-style-type: none;
    margin: 0 auto;
    .insta-cell {
      /* margin-right: 0;
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include flex-grow(1);
      @include flex-basis(0);
      @include flex(1 1 calc(33% - 3em));
      flex: 1 0 auto;
      @include flex(1 0 auto);
      @include transition(all 300ms cubic-bezier($transition));
      @include clearfix;
      margin: .5em; */
      @include flex(auto);
      width: 150px;
      margin: .5em;

      &:before {
        content:'';
        float:left;
        padding-top:100%;
      }
      img {
        /* width: 100%;
        max-width: initial;
        min-width: 150px; */
        width: 100%;
        height: auto;
      }
      @media only screen
        and (min-width: 568px)
        and (max-width: 900px)
        and (-webkit-min-device-pixel-ratio: 2) {
      }
      @media only screen
        and (min-width: 320px)
        and (max-width: 568px) {
          width: 100%;
          max-width: 100%;
          img {
            width: 100%;
          }
      }
    }
  }
}

/*=========================================
Animations
=========================================== */

@keyframes waver {
  0%, 100% {transform: rotate(0deg);}
  50% {transform: rotate(20deg);}
}
