@import "bourbon";

$sans-serif: 'Gentona W00', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: $sans-serif;
// $serif: 'Plantin W01', garamond, baskerville, times, serif;

/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

/*=========================================
General Spacing
=========================================== */
.post p,.post ul {
  max-width:600px;
  margin:0 auto;
}
.post p {
  margin-bottom:20px;
}
.post img {
  margin:40px auto;
  position:relative;
  max-width:800px;
  width:100%;
}
.post img+img {
  margin-top: -20px;
}

@mixin clearfix {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*=========================================
Base
=========================================== */

html,body {
    height: 100%;
}

body {
  //background: #F4F7FA;
  // background: #FFFFFF;
  // background: rgba(5, 21, 26, 1);
  background: #222;
  font: 16px/1 $sans-serif;
  color: #777;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  float: left;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

@include selection {
  color: rgb(122, 111, 0);
  background-color: rgba(235, 211, 0, .75);
  // background-color: #EBD300;
}

.yellow {
  color: rgb(122, 111, 0);
  background-color: rgba(235, 211, 0, .75);
}

a {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: rgba(72, 84, 99, 1);
  padding-bottom: 2px;
  text-decoration: none;
  @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
  &:hover, &.active {
    color: rgba(35, 31, 32, 1);
    border-bottom: 1px solid rgba(40, 202, 255, 1);
  }
  &.button {
    border: 1px solid rgba(40, 202, 255, 1);
    border-radius: 100pt;
    color: rgba(40, 202, 255, 1);
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5em .75em;
    &:hover {
      background: rgba(40, 202, 255, 1);
      color: white;
      text-decoration: none;
    }
  }
}

p {
  &.button {
    border: 1px solid rgba(40, 202, 255, 1);
    border-radius: 100pt;
    color: rgba(40, 202, 255, 1);
    font-size: .9em !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    padding: .5em .75em;
    text-decoration: none;
    @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
    &:hover {
      background: rgba(40, 202, 255, 1);
      color: white;
      text-decoration: none;
    }
  }
}

section, header, footer {
  float: left;
  margin: 0 auto;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* body > .animation-wrapper > section, body > section {
  border: 30px solid #CA9D7E;
} */

.row {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(space-between);

  float: left;
  padding: 0 1em;
  margin: 0 auto;
  .column-wrap {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include justify-content(space-between);
    @include align-content(space-between);
    @include flex(1 1 calc(33% - 3em));
    @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));

    padding: 0;
    margin: 1em;
    min-width: calc(50% - 2em);
  }
  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .column-wrap {
      @include flex(1 1 calc(50% - 2em));
    }
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
    .column-wrap {
      min-width: 65%;
      @include flex(1 1 65%);
      padding: 5%;
    }
  }
  .column {
    @include display(block);
  }
  p {
    margin-bottom: 1.5em;
  }
}

section {
  background: #fff;
  padding: 1.5em 2em;
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
  }
  &#intro {
    padding: 0;
    .hero {
      background: url('/images/deep.jpg') no-repeat 10% 30%;
      -webkit-background-size: 1045px;
      -moz-background-size: 1045px;
      -o-background-size: 1045px;
      background-size: 1045px;
      height: 35em;
      margin-bottom: 4em;
      width: auto;
    }
  }
  &#about {
    padding: 0;
    width: 100%;
    .hero {
      background: url('/images/deep.jpg');
      background-size: 400px 400px;
      background-repeat: no-repeat;
      display: block;
      width: 400px;
      height: 400px;
    }
    article {
      padding: 0 2em 1.5em 2em;
      @media only screen
        and (min-width: 320px)
        and (max-width: 568px) {
          padding: 1.5em 2em;
      }
    }
  }
  &#about, &#portfolio, article {
    p {
      a {
        font-weight: 500;
        border-bottom: 1px solid rgba(40, 202, 255, .2);
        &:hover {
          border-bottom: 1px solid rgba(40, 202, 255, 1);
        }
      }
    }
  }
  &#portfolio {
    padding: 0;
  }
  &#about {
    // padding: 1.5em 2em;
    a {
      // color: rgba(35, 31, 32, 0.7);
      color: rgba(35, 31, 32, 1);
      &:hover {
        color: rgba(35, 31, 32, 1);
      }
      &.deep {
        cursor: help;
        border-bottom: 1px solid rgba(231, 39, 0, .2);
        &:hover {
          background: rgba(231, 39, 0, .2);
          border-bottom: 1px solid rgba(231, 39, 0, 1);
        }
      }
      &.behalf {
        border-bottom: 1px solid rgba(40, 202, 255, .2);
        &:hover {
          background: rgba(40, 202, 255, .2);
          border-bottom: 1px solid rgba(40, 202, 255, 1);
        }
      }
      &.saavn {
        border-bottom: 1px solid rgba(48, 181, 90, .2);
        &:hover {
          background: rgba(48, 181, 90, .2);
          border-bottom: 1px solid rgba(48, 181, 90, 1);
        }
      }
      &.livestream {
        border-bottom: 1px solid rgba(207, 32, 46, .2);
        &:hover {
          background: rgba(207, 32, 46, .2);
          border-bottom: 1px solid rgba(207, 32, 46, 1);
        }
      }
    }
  }
}

img {
  max-width:100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: rgba(35, 31, 32, 0.2);
  position: absolute;
  right: -20px;
  top: -5px;
}

video {
  margin: .5em 0;
  width: 320px;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  // color: rgba(100, 112, 115, 1);
  color: rgba(72, 84, 99, 1);
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: .5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

p {
  color: rgba(35, 31, 32, .7);
  font-size: 1.25em;
  line-height: 1.65em;
  margin-bottom: 0;
  &.lead {
    margin-top: 1em;
  }
}

.meta {
  color: rgba(35, 31, 32, .65);
  font-family: $sans-serif;
  font-size: .7em;
  letter-spacing: .75px;
  margin: 0em 0 1em 0;
  text-transform: uppercase;
}

em, .em {
  font-style: italic;
}

strong, .strong {
  font-weight: 700;
}

/*=========================================
Header
=========================================== */

#navigation {
  background: #fff;
  // border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 1.5em 2em;
  margin: 0 0 3em 0;
  width: 100%;
  float: left;
  h2 {
    float: left;
    font-family: $sans-serif;
    font-weight: 600;
    line-height: 1;
    // text-transform: uppercase;
    a {
      color: rgba(35, 31, 32, 1);
      margin: 0px;
      span {
        color: rgba(72, 84, 99, 0.4);
        font-family: $serif;
        font-style: italic;
        font-weight: 700;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: initial;
      }
    }
  }

  #nav-wrap {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 300;
    padding: 30px 30px 0px 30px;
  }

  #logo {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 0px;
  }

  ul {
    float: right;
    list-style-type: none;
    margin-top: .5%;
    position: relative;
    vertical-align: middle;

    li {
      float: left;
      font-weight: 600;
      list-style-type: none;
      margin-left: 1.5em;
      position: relative;
      a {
        color: rgba(35, 31, 32, .4);
        padding-bottom: 2px;
        position: relative;
        @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:hover, &.active {
          border-bottom: 1px solid rgba(40, 202, 255, 1);
          color: rgba(35, 31, 32, 1);
        }
      }
    }
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
      h2 {
        display: block;
        float: initial;
        text-align: center;
      }
      ul {
        float: initial;
        margin: 1.5em auto .5em;
        text-align: center;
        li {
          display: inline-block;
          float: initial;
          margin: 0 0 0 1.5em;
          &:first-child {
            margin: 0;
          }
        }
      }
  }
}

/*=========================================
Animations
=========================================== */

.node {
  stroke: #D3DBE3;
  fill: #D3DBE3;
  stroke-width: 5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0;
}

.animation-wrapper {
  @include display(flex);
  @include box-align(center);
  @include align-items(flex-start);
  @include box-lines(multiple);
  @include flex-wrap(wrap);
  position: relative;
  z-index: 1;
  height: 80vh;
}

.animation-container {
  @include transition(fade-in 400ms 1500ms both ease-out);
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: -1;
  top: 0;
  left: 0;
  background: transparent;

  svg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.hidden {
    display: none
}

.content-hidden {
    display: none
}

.fade-up-out {
    opacity: 0;
    transform: scale(0.8) translate3d(0, -10%, 0);
    transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.easing-upward {
    transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/*=========================================
Cards
=========================================== */

#cards {
  float: left;
  padding: 0 1em;
  margin: 0 auto;

  @include display(flex);
  // @include flex-flow(row wrap);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(space-between);

  .card {
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5pt;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 1em;
    padding: 3%;
    position: relative;
    z-index: 2;

    min-width: calc(33% - 3em);

    // flex: 0 calc(50% - 2em) 1;

    transform: scale(1);

    @include display(flex);
    // @include flex-flow(row nowrap);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include justify-content(space-between);
    @include align-content(space-between);
    @include flex(1 1 calc(33% - 3em));

    @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));

    @include clearfix;

    .card-content {
      @include display(block);
    }

    &:hover {
      background: rgba(255, 255, 255, .9);

      // border: 1px solid rgba(40, 202, 255, 1);
      border: 1px solid rgba(0, 0, 0, .4);

      // box-shadow: 0 18px 24px rgba(0, 0, 0, 0.1), 0 18px 32px rgba(0, 0, 0, 0.1);
      // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

      // box-shadow: 0px 1px 20px 0px rgba(40, 202, 255, 0.4);
      box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);

      transform: scale(1.01);
      .button {
        background: rgba(40, 202, 255, 1);
        color: white;
        text-decoration: none;
      }
      .thumbnail {
        /* img {
          transform: scale(1);
        }*/
          opacity: .85;
          outline: none;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $sans-serif;
      font-style: normal;
    }

    h2, p {
      float: left;
      margin: 0;
      width: 100%;
    }
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    p {
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.5;
      margin: .1em 0 0 0;
    }
    .thumbnail {
      border: 1px solid rgba(0, 0, 0, .15);
      display: block;
      margin: 0 0 1em 0;
      padding: 0;
      opacity: 1;
      outline: none;
      overflow: hidden;
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      img {
        display: block;
        opacity: 1;
        outline: none;
        // transform: scale(1.1);
        margin: 0;
        // @include transition(all 260ms cubic-bezier(0.22, 0, 0.4, 1));
      }
      &:hover {
        opacity: .85;
        outline: none;
      }
    }
    .meta-title {
      color: rgba(72, 84, 99, 1);
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      font-family: $sans-serif;
      font-size: 1.6em;
      font-weight: 500;
      float: left;
      margin: 0 0 .1em 0;
    }
    .button {
      float: initial;
      margin: 1em 0 0 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        float: left;
        width: auto;
      }
    }

    h3 {
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
    }

    p {
      margin: 0;
      font-family: $serif;
    }

    .meta {
      color: rgba(35, 31, 32, .65);
      font-family: $sans-serif;
      font-size: .7em;
      letter-spacing: .75px;
      margin: 0em 0 1em 0;
      text-transform: uppercase;
      &.strong {
        font-weight: 700;
      }
    }

  }

  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .card {
        @include flex(1 1 calc(50% - 2em));
      }
    }

  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 0;
      .card {
        min-width: 65%;
        @include flex(1 1 65%);
        padding: 5%;
      }
  }
}

pre {
  border-radius: 5pt;
  font-family: 'source-code-pro', monospace;
  font-weight: 500;
  line-height: 1.5;
  padding: .5em;
  margin: 0 0 1em 0;
}

code {
  font-size: .9em;
}

/*=========================================
Article
=========================================== */

article, figure, pre {
  float: left;
}

article {
  margin: 0 auto;
  padding: 1.5em 2em;
  max-width: 700px;

  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
  }

  header, section, figure, h1, h2, h3, h4, h5, h6, p {
  }
  img, video, iframe {
    width: auto;
    max-width: 49%;
  }
  figure {
    border: 1px dotted rgba(35, 31, 32, .4);
    border-radius: 5pt;
    float: right;
    margin: 0 0 1em 1em;
    padding: 1em;
    max-width: 20em;
    width: 100%;
    img, video, iframe {
      float: initial;
      margin: 0 auto;
      // max-width: 20em;
      vertical-align: top;
      width: 100%;
      max-width: 100%;
    }
    figcaption {
      display: inline-block;
      font-family: $serif;
      font-size: .9em;
      font-style: italic;
      line-height: 1.5;
      padding: 1em 0 0 0;
      width: auto;
      width: 100%;
      + img, video, iframe {
        padding: 1em 0;
      }
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    float: initial;
    width: auto;
  }
  h2 {
    font-weight: 500;
    margin: 0 0 .1em 0;
    padding: 0;
    &.lead {
      margin-bottom: .5em;
    }
    &.title {
    }
  }
  h3 {
    font-weight: 500;
    margin: 1em 0;
  }
  h1 {
    margin: 0 0 .5em 0;
  }
  p {
    color: rgba(35, 31, 32, 1);
    font-family: $serif;
    margin: 0 0 1em 0;
    + h3, + h2, + h1 {
      margin: 1em 0 1em 0;
    }
    &:last-child {
      margin: 0;
    }
  }
  a {
    // font-weight: 700;
  }
}

/*=========================================
Footer
=========================================== */

#footer {
  @include clearfix;
  // background: #222;
  // background: rgba(227, 118, 0, 1);
  // background: rgba(235, 160, 0, .2);
  // background: rgba(235, 130, 0, 0.1);
  background: #fff;
  float: left;
  padding: 3em 4em;
  position: relative;
  width: calc(100% + 4em);
  margin: 5.6em -2em -1.5em -2em;
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 3em 4em;
  }
  .hands-wrapper{
    &:hover {
      .hands {
        animation: waver 0.65s alternate infinite;
        transform-origin: 50% 70%;
        animation-timing-function: ease-in-out;
        display: inline-flex;
        @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      }
    }
  }
  #footer-wrap {
    background: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  p {
    // color: rgba(255, 255, 255, .8);
    a {
      // border-bottom: 1px solid rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgba(0, 0, 0, 1);
      // color: rgba(255, 255, 255, .75);
      font-weight: 600;
      padding-bottom: 2px;
      transform: scale(1);
      &:hover {
        // background: rgba(255, 255, 255, .2);
        // background: rgba(0, 0, 0, .2);
        background: rgba(235, 211, 0, .5);
        // border-bottom: 1px solid rgba(255, 255, 255, 1);
        // color: rgba(255, 255, 255, 1);
        transform: scale(1.2);
      }
    }
  }
  .row {
    padding: 0;
    margin: 3em 0 0 0;
    .column-wrap {
      margin: 1em 1em 1em 0em;
    }
  }
  ul {
    float: left;
    li {
      float: left;
      list-style-type: none;
      // margin-right: 1.5em;
    }
  }
}

.insta-wrap {
  @include display(inline-flex);
  .insta {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-content(space-between);

    float: left;
    // padding: 0 1em;
    margin: 0 auto;
    .insta-cell {
      // min-width: calc(33% - 3em);
      margin-right: 0;
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include flex-grow(1);
      @include flex-basis(0);
      @include justify-content(space-between);
      @include align-content(space-between);
      @include flex(1 1 calc(33% - 3em));
      flex: 1 0 auto;
      @include flex(1 0 auto);
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      @include clearfix;
      max-width: 30%;
      min-width: 150px;
      &:before {
        content:'';
        float:left;
        padding-top:100%;
      }
      img {
        width: 100%;
        max-width: initial;
        min-width: 150px;
      }
    }
  }
}

/*=========================================
Animations
=========================================== */

.circles {
  position: relative;
  z-index: 1;
  .circle {
    background: rgba(235, 130, 0, 0.1);
    border-radius: 100pt;
    display: flex;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 4em;
    /* animation: circle 3s normal infinite;
    transform-origin: 50% 70%;
    animation-timing-function: ease-in; */
    &-one {
      background-color: #EBAF16;
      left: calc(((100%/7)*1) + 4em);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 1;
      -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }
    &-two {
      background-color: #EBCF16;
      left: calc(((100%/7)*3) + 4em);
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 1;
      -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
      -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
      -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    }
    &-three {
      background-color: #BE390E;
      left: calc(((100%/7)*4) + 4em);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 1;
      -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    }
    &-four {
      background-color: #E79632;
      left: calc(((100%/7)*5) + 4em);
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 1;
      -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    }
    &-five {
      background-color: #DD930C;
      left: calc(((100%/7)*2) + 4em);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 1;
      -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
    &-six {
      background-color: #DD370C;
      left: calc(((100%/7)*0) + 4em);
      -webkit-transform: scale(0.2);
      -moz-transform: scale(0.2);
      transform: scale(0.2);
      opacity: 1;
      -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
    &-seven {
      background-color: #FF6400;
      left: calc(((100%/7)*5) + 4em);
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      transform: scale(0.3);
      opacity: 1;
      -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    }
  }
}

.x1 {

}

.x2 {
}
.x3 {
    left: 350px;

}
.x4 {
    left: 470px;

}
.x5 {
    left: 150px;

}
@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}


@keyframes waver {
  0%, 100% {transform: rotate(0deg);}
  50% {transform: rotate(20deg);}
}

@keyframes circle {
  0% {
    transform: translateY(0);
    width: 20px;
    height: 20px;
  }
  10% {
    transform: translateY(-5px);
    width: 18px;
    height: 20px;
  }
  20% {
    transform: translateY(-10px);
    width: 20px;
    height: 18px;
  }
  30% {
    transform: translateY(-15px);
    width: 18px;
    height: 22px;
  }
  40% {
    transform: translateY(-30px);
    width: 22px;
    height: 18px;
  }
  50% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-75px);
  }
  70% {
    transform: translateY(-85px);
  }
  80% {
    transform: translateY(-120px);
  }
  90% {
    transform: translateY(-160px);
  }
  100% {
    transform: translateY(-210px);
  }
}
