@import "bourbon";

$sans-serif: 'Gentona W00', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: $sans-serif;
// $serif: 'Plantin W01', garamond, baskerville, times, serif;

/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

/*=========================================
General Spacing
=========================================== */
.post p,.post ul {
  max-width:600px;
  margin:0 auto;
}
.post p {
  margin-bottom:20px;
}
.post img {
  margin:40px auto;
  position:relative;
  max-width:800px;
  width:100%;
}
.post img+img {
  margin-top: -20px;
}

@mixin clearfix {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*=========================================
Base
=========================================== */

html,body {
    height: 100%;
}

body {
  // background: #F4F7FA;
  background: #FFFFFF;
  // background: rgba(5, 21, 26, 1);
  // background: #222;
  font: 16px/1 $sans-serif;
  // color: #777;
  color: rgba(72, 84, 99, 1);
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  float: left;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

@include selection {
  color: rgb(122, 111, 0);
  background-color: rgba(235, 211, 0, .75);
  // background-color: #EBD300;
}

.yellow {
  color: rgb(122, 111, 0);
  background-color: rgba(235, 211, 0, .75);
}

a {
  color: rgba(35, 31, 32, 0.8);
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  &:before {
    // background-color: rgba(245, 234, 119, 1);
    background-color: rgba(35, 31, 32, .65);
    bottom: -2px;
    content: '';
    height: 1px;
    left: 0;
    // opacity: 1;
    opacity: .34;
    position: absolute;
    @include transition(all 200ms cubic-bezier(0.22, 0, 0.4, 1));
    // @include transition(all 200ms ease-in-out);
    width: 100%;
    z-index: -1;
  }
  &:hover, &.active, &:focus {
    outline-width: 0;
    &:before {
      background-color: rgba(245, 234, 119, 1);
      bottom: 2px;
      height: .8em; //24px 1.3em
      opacity: 1;
      transform: none;
    }
  }
  &[class] {
    &:hover, &:focus {
      &:before {
        opacity: .24;
      }
    }
    &:before {
      opacity: .34;
    }
  }
  &.active {
    &:hover, &:focus {
      &:before {
        opacity: 1;
      }
    }
    &:before {
      opacity: 1;
    }
  }
  &.deep {
    cursor: help;
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(245, 234, 119, 1);
      }
    }
  }
  &.mongodb {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(127, 200, 86, .75);
      }
    }
  }
  &.behalf {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(40, 202, 255, .75);
      }
    }
  }
  &.cota {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(133, 98, 234, .75);
      }
    }
  }
  &.saavn {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(48, 181, 90, .75);
      }
    }
  }
  &.livestream {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(207, 32, 46, .75);
      }
    }
  }
  &.twitter {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(29, 161, 242, .75);
      }
    }
  }
  &.dribbble {
    &:hover, &.active, &:focus {
      &:before {
        background-color: rgba(234, 76, 137, .75);
      }
    }
  }
  &.button {
    border: 1px solid rgba(40, 202, 255, 1);
    border-radius: 100pt;
    color: rgba(40, 202, 255, 1);
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    padding: .5em .75em;
    &:hover {
      background: rgba(40, 202, 255, 1);
      color: white;
      text-decoration: none;
    }
  }
}

p {
  &.button {
    border: 1px solid rgba(40, 202, 255, 1);
    border-radius: 100pt;
    color: rgba(40, 202, 255, 1);
    font-size: .9em !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    padding: .5em .75em;
    text-decoration: none;
    @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
    &:hover {
      background: rgba(40, 202, 255, 1);
      color: white;
      text-decoration: none;
    }
  }
}

#site {
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 40px auto; */
}

section, header, footer {
  margin: 0 auto;
  max-width: 800px;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(space-between);

  float: left;
  padding: 0 3em;
  margin: 0 auto;
  .column-wrap {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include justify-content(space-between);
    @include align-content(space-between);
    @include flex(1 1 calc(33% - 3em));
    @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));

    padding: 0;
    margin: 0;
    min-width: calc(50% - 2em);
  }
  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .column-wrap {
      @include flex(1 1 calc(50% - 2em));
    }
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
    .column-wrap {
      min-width: 65%;
      @include flex(1 1 65%);
      padding: 5%;
    }
  }
  .column {
    @include display(block);
  }
  p {
    // margin-bottom: 2em;
  }
}

section {
  background: #fff;
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
  }
  &#intro {
    padding: 0;
    .hero {
      background: url('/images/deep.jpg') no-repeat 10% 30%;
      -webkit-background-size: 1045px;
      -moz-background-size: 1045px;
      -o-background-size: 1045px;
      background-size: 1045px;
      height: 35em;
      margin-bottom: 4em;
      width: auto;
    }
  }
  &#about {
    padding: 0;
    width: 100%;
    .hero {
      background: url('/images/deep.jpg');
      background-size: 400px 400px;
      background-repeat: no-repeat;
      display: block;
      width: 400px;
      height: 400px;
    }
    article {
      padding: 0 3em 2em 3em;
      @media only screen
        and (min-width: 320px)
        and (max-width: 568px) {
          padding: 2em 2em;
      }
    }
  }
  &#about, &#portfolio, article {
    p {
    }
  }
  &#portfolio {
    padding: 0;
  }
  &#about {
  }
}

img {
  max-width:100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: rgba(35, 31, 32, 0.2);
  position: absolute;
  right: -20px;
  top: -5px;
}

video {
  margin: .5em 0;
  width: 320px;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  // color: rgba(100, 112, 115, 1);
  color: rgba(72, 84, 99, 1);
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: .5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

p {
  color: rgba(35, 31, 32, .8);
  font-size: 1.25em;
  line-height: 1.65em;
  margin-bottom: 1em;
  &.lead {
    margin-top: 1em;
  }
}

.heading {
  color: rgba(72, 84, 99, 1);
  font-weight: 500;
  line-height: 1.3;
  margin: 1em 0 1.5em 0;
}

.meta {
  color: rgba(35, 31, 32, .65);
  font-family: $sans-serif;
  font-size: .7em;
  letter-spacing: .75px;
  margin: 0em 0 1em 0;
  text-transform: uppercase;
}

em, .em {
  font-style: italic;
}

strong, .strong {
  font-weight: 700;
}

/*=========================================
Header
=========================================== */

#navigation {
  background: #fff;
  display: flex;
  padding: 2em 3em 4em;
  position: relative;
  width: 100%;
  float: left;
  h2 {
    display: flex;
    align-self: center;
    font-family: $sans-serif;
    line-height: 1;
    margin-bottom: 0;
    a {
      display: flex;
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      &:before {
        background: none;
      }
      &:hover, &.active, &:focus {
        .header-deep {
          color: rgba(255, 255, 255, 0);
          mix-blend-mode: hard-light;
          -webkit-text-fill-color: rgba(255, 255, 255, 0);
          -moz-text-fill-color: rgba(255, 255, 255, 0);
          -webkit-text-stroke-color: rgba(35, 31, 32, 1);
          -moz-text-stroke-color: rgba(35, 31, 32, 1);
          -webkit-text-stroke-width: 1px;
          -moz-text-stroke-width: 1px;
          transform: scale(1.5);
          &-one {
            top: -10px;
            left: -10px;
            opacity: 1;
            -webkit-text-stroke-color: rgb(235, 7, 53);
            -moz-text-stroke-color: rgb(235, 7, 53);
          }
          &-two {
            opacity: 1;
            -webkit-text-stroke-color: rgb(57, 236, 0);
            -moz-text-stroke-color: rgb(57, 236, 0);
          }
          &-three {
            top: 10px;
            left: 10px;
            opacity: 1;
            -webkit-text-stroke-color: rgb(0, 39, 236);
            -moz-text-stroke-color: rgb(0, 39, 236);
          }
        }
        &:before {
          background: none;
        }
      }
      .header-deep {
        display: flex;
        align-self: center;
        margin-left: auto;
        position: absolute;
        @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
        width: 100%;
        &-one {
          top: 0px;
          left: 0px;
          opacity: 1;
        }
        &-two {
          position: relative;
          opacity: 1;
        }
        &-three {
          top: 0px;
          left: 0px;
          opacity: 1;
        }
      }
    }
  }

  #nav-wrap {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    // z-index: 300;
    padding: 30px 30px 0px 30px;
  }

  #logo {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 0px;
  }

  ul {
    float: right;
    list-style-type: none;
    margin-left: auto;
    padding-top: .5%;
    position: relative;
    vertical-align: middle;

    li {
      float: left;
      list-style-type: none;
      padding-left: 1.5em;
      position: relative;
      a {
        color: rgba(35, 31, 32, .5);
        @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
        &:before {
          background: none;
        }
        &:hover, &.active, &:focus {
          color: rgba(35, 31, 32, 1);
          &:before {
            background: none;
          }
        }
      }
      /* a {
        border-bottom: 2px solid rgba(245, 234, 119, 1);
        color: rgba(35, 31, 32, 1);
        padding-bottom: 2px;
        position: relative;
        @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:hover, &.active {
          // background: rgba(235, 211, 0, 1);
          background: rgba(245, 234, 119, 1);
          // border-bottom: 1px solid rgba(40, 202, 255, 1);
          border-bottom: 2px solid rgba(245, 234, 119, 1);
          color: rgba(35, 31, 32, 1);
        }
      } */
    }
  }
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
      h2 {
        display: block;
        float: initial;
        text-align: center;
      }
      ul {
        float: initial;
        margin: 2em auto .5em;
        text-align: center;
        li {
          display: inline-block;
          float: initial;
          margin: 0 0 0 2em;
          &:first-child {
            margin: 0;
          }
        }
      }
  }
}

/*=========================================
Animations
=========================================== */

.node {
  stroke: #D3DBE3;
  fill: #D3DBE3;
  stroke-width: 5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0;
}

.animation-wrapper {
  @include display(flex);
  @include box-align(center);
  @include align-items(flex-start);
  @include box-lines(multiple);
  @include flex-wrap(wrap);
  position: relative;
  z-index: 1;
  height: 80vh;
}

.animation-container {
  @include transition(fade-in 400ms 1500ms both ease-out);
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: -1;
  top: 0;
  left: 0;
  background: transparent;

  svg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.hidden {
    display: none
}

.content-hidden {
    display: none
}

.fade-up-out {
    opacity: 0;
    transform: scale(0.8) translate3d(0, -10%, 0);
    transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.easing-upward {
    transition: all 450ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

/*=========================================
Cards
=========================================== */

.writing {
  list-style-type: none;
}

#cards {
  float: left;
  // padding: 0 1em;
  padding: 0;
  margin: 0 auto;

  @include display(flex);
  // @include flex-flow(row wrap);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-content(space-between);

  a.card {
    text-decoration: none;
    &:before {
      background: none;
    }
    &:hover, &:active, &:focus {
      &:before {
        background: none;
      }
    }
  }

  .card {
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5pt;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin: 1em;
    padding: 3%;
    position: relative;
    z-index: 2;

    min-width: calc(50% - 3em);

    // flex: 0 calc(50% - 2em) 1;

    transform: scale(1);

    @include display(flex);
    // @include flex-flow(row nowrap);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-grow(1);
    @include flex-basis(0);
    @include justify-content(space-between);
    @include align-content(space-between);
    @include flex(1 1 calc(33% - 3em));

    @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));

    @include clearfix;

    .card-content {
      @include display(block);
    }

    &:hover {
      background: rgba(255, 255, 255, .9);

      // border: 1px solid rgba(40, 202, 255, 1);
      border: 1px solid rgba(0, 0, 0, .4);

      // box-shadow: 0 18px 24px rgba(0, 0, 0, 0.1), 0 18px 32px rgba(0, 0, 0, 0.1);
      // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);

      // box-shadow: 0px 1px 20px 0px rgba(40, 202, 255, 0.4);
      box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);

      transform: scale(1.01);
      .button {
        background: rgba(40, 202, 255, 1);
        color: white;
        text-decoration: none;
      }
      .thumbnail {
        /* img {
          transform: scale(1);
        }*/
          opacity: .85;
          outline: none;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $sans-serif;
      font-style: normal;
    }

    h2, p {
      float: left;
      margin: 0;
      width: 100%;
    }
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    p {
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.5;
      margin: .1em 0 0 0;
    }
    .thumbnail {
      border: 1px solid rgba(0, 0, 0, .15);
      display: block;
      margin: 0 0 1em 0;
      padding: 0;
      opacity: 1;
      outline: none;
      overflow: hidden;
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      img {
        display: block;
        opacity: 1;
        outline: none;
        // transform: scale(1.1);
        margin: 0;
        // @include transition(all 260ms cubic-bezier(0.22, 0, 0.4, 1));
      }
      &:hover {
        opacity: .85;
        outline: none;
      }
    }
    .meta-title {
      color: rgba(72, 84, 99, 1);
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      font-family: $sans-serif;
      font-size: 1.6em;
      font-weight: 500;
      float: left;
      margin: 0 0 .1em 0;
    }
    .button {
      float: initial;
      margin: 1em 0 0 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        float: left;
        width: auto;
      }
    }

    h3 {
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
    }

    p {
      margin: 0;
      font-family: $serif;
    }

    .meta {
      color: rgba(35, 31, 32, .65);
      font-family: $sans-serif;
      font-size: .7em;
      letter-spacing: .75px;
      margin: 0em 0 1em 0;
      text-transform: uppercase;
      &.strong {
        font-weight: 700;
      }
    }

  }

  @media only screen
    and (min-width: 568px)
    and (max-width: 900px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .card {
        @include flex(1 1 calc(50% - 2em));
      }
    }

  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 0;
      .card {
        min-width: 65%;
        @include flex(1 1 65%);
        padding: 5%;
      }
  }
}

pre {
  border-radius: 5pt;
  font-family: 'source-code-pro', monospace;
  font-weight: 500;
  line-height: 1.5;
  padding: .5em;
  margin: 0 0 1em 0;
}

code {
  font-size: .9em;
}

/*=========================================
Article
=========================================== */

article, figure, pre {
  float: left;
}

article {
  margin: 0 auto;
  padding: 2em 3em;
  max-width: 700px;

  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 1em;
  }

  header, section, figure, h1, h2, h3, h4, h5, h6, p {
  }
  img, video, iframe {
    width: auto;
    max-width: 49%;
  }
  figure {
    border: 1px dotted rgba(35, 31, 32, .4);
    border-radius: 5pt;
    float: right;
    margin: 0 0 1em 1em;
    padding: 1em;
    max-width: 20em;
    width: 100%;
    img, video, iframe {
      float: initial;
      margin: 0 auto;
      // max-width: 20em;
      vertical-align: top;
      width: 100%;
      max-width: 100%;
    }
    figcaption {
      display: inline-block;
      font-family: $serif;
      font-size: .9em;
      font-style: italic;
      line-height: 1.5;
      padding: 1em 0 0 0;
      width: auto;
      width: 100%;
      + img, video, iframe {
        padding: 1em 0;
      }
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    float: initial;
    width: auto;
  }
  h2 {
    font-weight: 500;
    margin: 0 0 .1em 0;
    padding: 0;
    &.lead {
      margin-bottom: .5em;
    }
    &.title {
    }
  }
  h3 {
    font-weight: 500;
    margin: 1em 0;
  }
  h1 {
    margin: 0 0 .5em 0;
  }
  p {
    color: rgba(35, 31, 32, 1);
    font-family: $serif;
    margin: 0 0 1em 0;
    + h3, + h2, + h1 {
      margin: 1em 0 1em 0;
    }
    &:last-child {
      margin: 0;
    }
  }
  a {
    // font-weight: 700;
  }
}

/*=========================================
Footer
=========================================== */

#footer {
  @include clearfix;
  // background: #222;
  // background: rgba(227, 118, 0, 1);
  // background: rgba(235, 160, 0, .2);
  // background: rgba(235, 130, 0, 0.1);
  background: #fff;
  float: left;
  padding: 2em 3em;
  position: relative;
  /* width: calc(100% + 4em);
  margin: 5.6em -2em -2em -2em; */
  @media only screen
    and (min-width: 320px)
    and (max-width: 568px) {
      padding: 3em 4em;
  }
  .hands-wrapper{
    &:hover {
      .hands {
        animation: waver 0.65s alternate infinite;
        transform-origin: 50% 70%;
        animation-timing-function: ease-in-out;
        display: inline-flex;
        @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      }
    }
  }
  #footer-wrap {
    background: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  p {
    /* a {
      border-bottom: 1px solid rgba(0, 0, 0, 1);
      font-weight: 600;
      padding-bottom: 2px;
      transform: scale(1);
      &:hover {
        background: rgba(235, 211, 0, .5);
        transform: scale(1.2);
      }
    } */
  }
  .row {
    padding: 0;
    margin: 3em 0 0 0;
    .column-wrap {
      margin: 1em 1em 1em 0em;
    }
  }
  ul {
    float: left;
    li {
      float: left;
      list-style-type: none;
      // margin-right: 2em;
    }
  }
}

.insta-wrap {
  @include display(inline-flex);
  .insta {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-content(space-between);

    float: left;
    // padding: 0 1em;
    margin: 0 auto;
    .insta-cell {
      // min-width: calc(33% - 3em);
      margin-right: 0;
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include flex-grow(1);
      @include flex-basis(0);
      @include justify-content(space-between);
      @include align-content(space-between);
      @include flex(1 1 calc(33% - 3em));
      flex: 1 0 auto;
      @include flex(1 0 auto);
      @include transition(all 300ms cubic-bezier(0.22, 0, 0.4, 1));
      @include clearfix;
      max-width: 30%;
      min-width: 150px;
      &:before {
        content:'';
        float:left;
        padding-top:100%;
      }
      img {
        width: 100%;
        max-width: initial;
        min-width: 150px;
      }
    }
  }
}

/*=========================================
Animations
=========================================== */
