---
title: Deep Shah · Designer
---

<section id="intro">
  <div class="row">
    <div class="column-wrap">
      <div class="column">
        <div>
          <p>Hi, my name’s Deep Shah. I’m a product designer. I’m currently at <a class="mongodb" href="https://www.mongodb.com/" target="_blank">MongoDB</a>, creating solutions for developers.</p>
          <p>Previously, I’ve built products for startups such as <a class="behalf" href="https://www.behalf.com/" target="_blank">Behalf</a>, <a class="saavn" href="https://www.saavn.com/" target="_blank">Saavn</a>, and <a class="livestream" href="https://www.livestream.com/" target="_blank">Livestream</a>.</p>
        </div>
        <span class="separator"></span>
        <!-- <div>
          <div id='map' style='width: 400px; height: 300px;'></div>
            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZGVlcHNoYWgiLCJhIjoiY2pjbXlranRvMTY3bDMzcm5lbzR2OXNjcSJ9.KSiq0_zhRYTVglT9S8tqdQ';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v9'
            });
          </script>
        </div> -->
        <div>
          <p>I travel to explore the world. I meditate to explore myself. I’m also a voracious <a href="/library">reader</a> (but not a voracious eater).</p>
        </div>
        <span class="separator"></span>
        <div>
          <p>You can find me online <a class="twitter" href="https://www.twitter.com/deepshah" target="_blank">tweeting</a>, <a class="dribbble" href="https://www.dribbble.com/deepshah" target="_blank">dribbbling</a>, <a class="instagram" href="https://www.instagram.com/deepcshah/" target="_blank">taking photos</a>, and <a class="svbtle" href="https://deepshah.svbtle.com" target="_blank">writing</a>. You should also feel free to say <span class="hands-wrapper"><a href="mailto:hi@deepshah.com"><span class="hands">👋🏽</span> hi@deepshah.com</a></span>.</p>
        </div>
        <span class="separator"></span>
        <div class="insta-wrap">
          <ul id="instafeed" class="insta"></ul>
        </div>
      </div>
    </div>
  </div>
</section>

