---
title: Deep Shah
---

<section id="intro">
  <div class="row">
    <div class="column-wrap">
      <div class="column">
        <div>
          <h3>Hi, I’m Deep! I’m a digital product designer & leader based in New York City.</h3>
          <h5 class="sans story-mode">Story Mode: 
            <span >
              <span data-bio="summary" class="about-bio-summary-toggle strong">Summary</span>
              <label class="switch small">
                <input data-switch="summary" class="about-bio-switch" type="checkbox">
                <span class="slider small round"></span>
              </label>
              <span data-bio="full" class="about-bio-full-toggle">Full</span>
            </span>
          </h5>
          <div class="about-bio-summary">
            <p>I’m currently working at <a class="mongodb" href="https://www.mongodb.com/" target="_blank">MongoDB</a>, helping unleash the genius in developers around the world. I’ve previously built products at <a class="livestream" href="https://www.livestream.com/" target="_blank">Livestream</a> <em>(now Vimeo Live)</em>, <a class="saavn" href="https://www.saavn.com/" target="_blank">Saavn</a> <em>(now JioSaavn)</em>, and <a class="behalf" href="https://www.behalf.com/" target="_blank">Behalf</a>.</p>
            <p>In my spare time, I cook, <a class="strava" href="https://www.strava.com/athletes/8015255" target="_blank">bike</a>, <a class="instagram" href="https://www.instagram.com/deepcshah/" target="_blank">take photos</a>, <a class="goodreads" href="https://www.goodreads.com/user/show/24480951-deep-shah" target="_blank">read</a>, and <a class="earth" href="https://conquer.earth/deep" target="_blank">travel the world</a>.</p>
            <p>I also volunteer my time with <a class="sakhi" href="https://www.sakhi.org" target="_blank">Sakhi for South Asian Women</a>, a not-for-profit dedicated to serving survivors of gender justice.</p>
          </div>
          <div class="about-bio-full" style="display:none;">
            <span class="story-date">1990s</span>
            <p class="first">I grew up in Ahmedabad, New Jersey, and New York. I didn’t have my own computer until the late 90s, but was always experimenting with new hobbies. Painting, dark room photography, music production, stage lighting, video production. I was privileged enough to attend schools that gave me access to computers and expensive equipment. I even won a couple of awards for my music production and video editing! <br /> <em>(I was pretty good at baseball too, tbh. I played first base and shorstop. One of my fondest memories of playing Little League was hitting an in-the-park grand slam. Nothing earns respect after moving to the United States like getting one in for the team.</em>)</p>
            <span class="story-date">2009</span>
            <p>While at my alma mater, I started a student design agency with some friends to help students get real world client experience they don’t get in school. The agency is still around to this day! I studied Biochemistry for most of my university days, but design had an everlasting pull. It was after an internship at a cancer center when I realized where my heart was calling me to.</p>
            <span class="story-date">2011</span>
            <p>I had a serious knee surgery scheduled for right after graduating from college, which kept me bed ridden for a couple of months. While I was recovering, I started a design studio with my good friend <a href="https://www.linkedin.com/in/rahul-m-29574521/" target="_blank">Rahul Mahida</a>. It failed spectacularly, but we both learned quite a lot about starting a business, getting clients, and working with a friend. Later, I landed at what was then <a class="livestream" href="https://www.livestream.com/" target="_blank">Livestream</a> as a Web Designer. I created mini-experiences for clients using Facebook’s app framework, helped design the iOS app, worked on various facets of our hardware (including packaging), and overall contributed to the design of every aspect of our customer experience. I worked with phenomenal people, many of which I consider to be lifelong friends.</p>
            <span class="story-date">2013</span>
            <p>I was lured to <a class="saavn" href="https://www.saavn.com/" target="_blank">Saavn</a> by <a href="" target="_blank">Clint Baclom</a> for what would is still to this day one of the most fulfilling periods of my design career. I got to work on products and features that impacted millions of people. I was also part of a small team that redesigned and launched a brand new Android app, to enormous success.</p>
            <span class="story-date">2014</span>
            <p>Rahul and I were early employees at a small oncology analytics startup called <a class="cota" href="https://www.oncota.com/" target="_blank">COTA</a>. This was our first truly early stage startup experience, and we went through many ups and downs together. I left in mid 2016 and went on sabbatical.</p>
            <span class="story-date">2017</span>
            <p>I’m currently at <a class="mongodb" href="https://www.mongodb.com/" target="_blank">MongoDB</a>. I’ve worked on great products here, helping launch MongoDB Stitch and helping grow the team from a practice of 7 designers to 34 designers and researchers.</p>
          </div>
          <!-- <span class="separator"></span>
          <h3><strong>Recent Posts</strong></h3>
          <ul id="cards">
            <% page_articles.each_with_index do |article, i| %>
            <% if article.data.category != 'portfolio' %>
            <% link_to article, :class => "card" do %>
              <div class="card-content">
                <h3 class="meta-title"><%= article.data.title %></h3>
                <p class="meta"><%= article.data.date %></p>
              </div>
            <% end %>
            <% end %>
            <% end %>
          </ul>
          <p><a href="/writing">All Posts</a></p> -->
          <!-- <p>🗣 <a href="https://www.meetup.com/NYC-Design-Systems-Coalition/events/254103852/" target="_blank">Design Systems NYC Speaker</a></p>
          <p>🎙 <a href="https://shoptalkshow.com/episodes/221-elea-chang-deep-shah/" target="_blank">Shop Talk Ep. 221</a></p>
          <p>🗣 <a href="https://2016.affectconf.com" target="_blank">Affect Conf 2016 Speaker</a></p>
          <p>🎙 <a href="http://www.deepthoughts.fm" target="_blank">Deep Thoughts FM</a></p>
          <p>🥼 <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4093830/" target="_blank">Published Research on SBRT</a></p>
          <p>💽 <a href="https://soundcloud.com/deepcshah/sets" target="_blank">Sets</a></p> -->
        </div>
      </div>
    </div>
  </div>
</section>

