---
title: Deep Shah · Labs
---

<section id="labs">
  <h2>You found my laboratory! 👻</h2>
  <p class="lead">I’ll be adding my on-going experiments here very soon.</p>
  <p>Stay tuned!</p>
</section>


<!-- <section id="portfolio">
  <ul id="cards">
    <% page_articles.each_with_index do |article, i| %>
    <% if article.data.category == 'labs' %>
    <li class="card">
      <div class="card-content">
        <% link_to article, :class => "thumbnail" do %>
          <img class="2x grey" src="<%= article.data.thumbnail %>"/>
        <% end %>
          <% link_to article, :class => "meta-title" do %>
            <%= article.data.title %>
          <% end %>
          <p class="meta"><%= article.data.meta %></p>
          <p><%= article.data.description %></p>
          <% link_to article, :class => "button" do %>Read More &rarr;<% end %>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</section> -->

<!-- <section id="portfolio">
  <ul id="cards">
    <li class="card">
      <div class="card-content">
        <a href="/labs/healthpatterns" class="thumbnail">
          <img class="2x grey" src="/images/thumb-cotaanalytics@2x.png"/>
        </a>
        <a href="/labs/healthpatterns" class="meta-title">Investigating My Health Patterns</a>
        <p>I was curious about how various levels in blood test compare with each other, so I did a study on myself.</p>
        <a href="/labs/healthpatterns" class="button">Read More &rarr;</a>
      </div>
    </li>
  </ul>
</section> -->

