---
title: Deep Shah · Library
---

<div class="row">
  <div class="column-wrap">
    <div class="column">
      <h2 class="heading">Library</h2>
      <p>I recently started using Goodreads to track my reading habits. Below are up-to-date lists of what I’m reading and what I’ve read.</p>
      <p>Here are the books I’m currently reading:</p>
      <ul id="goodreads-reading" class="books">
        <div class="bookloader-wrapper">
          <div class="bookloader-item">
            <div class="bookloader-animated-background">
              <div class="bookloader-background-master bookloader-book"></div>
              <div class="bookloader-background-master bookloader-below-book"></div>
              <div class="bookloader-background-master bookloader-book-title"></div>
              <div class="bookloader-background-master bookloader-below-book-title"></div>
              <div class="bookloader-background-master bookloader-book-author"></div>
              <div class="bookloader-background-master bookloader-below-book-author"></div>
              <div class="bookloader-background-master bookloader-book-link"></div>
            </div>
          </div>
        </div>
        <div class="bookloader-wrapper">
          <div class="bookloader-item">
            <div class="bookloader-animated-background">
              <div class="bookloader-background-master bookloader-book"></div>
              <div class="bookloader-background-master bookloader-below-book"></div>
              <div class="bookloader-background-master bookloader-book-title"></div>
              <div class="bookloader-background-master bookloader-below-book-title"></div>
              <div class="bookloader-background-master bookloader-book-author"></div>
              <div class="bookloader-background-master bookloader-below-book-author"></div>
              <div class="bookloader-background-master bookloader-book-link"></div>
            </div>
          </div>
        </div>
        <div class="bookloader-wrapper">
          <div class="bookloader-item">
            <div class="bookloader-animated-background">
              <div class="bookloader-background-master bookloader-book"></div>
              <div class="bookloader-background-master bookloader-below-book"></div>
              <div class="bookloader-background-master bookloader-book-title"></div>
              <div class="bookloader-background-master bookloader-below-book-title"></div>
              <div class="bookloader-background-master bookloader-book-author"></div>
              <div class="bookloader-background-master bookloader-below-book-author"></div>
              <div class="bookloader-background-master bookloader-book-link"></div>
            </div>
          </div>
        </div>
      </ul>
      <p>Here are the books I’ve read:</p>
      <ul id="goodreads-read" class="books">
        <div class="bookloader-wrapper">
          <div class="bookloader-item">
            <div class="bookloader-animated-background">
              <div class="bookloader-background-master bookloader-book"></div>
              <div class="bookloader-background-master bookloader-below-book"></div>
              <div class="bookloader-background-master bookloader-book-title"></div>
              <div class="bookloader-background-master bookloader-below-book-title"></div>
              <div class="bookloader-background-master bookloader-book-author"></div>
              <div class="bookloader-background-master bookloader-below-book-author"></div>
              <div class="bookloader-background-master bookloader-book-link"></div>
            </div>
          </div>
        </div>
        <div class="bookloader-wrapper">
          <div class="bookloader-item">
            <div class="bookloader-animated-background">
              <div class="bookloader-background-master bookloader-book"></div>
              <div class="bookloader-background-master bookloader-below-book"></div>
              <div class="bookloader-background-master bookloader-book-title"></div>
              <div class="bookloader-background-master bookloader-below-book-title"></div>
              <div class="bookloader-background-master bookloader-book-author"></div>
              <div class="bookloader-background-master bookloader-below-book-author"></div>
              <div class="bookloader-background-master bookloader-book-link"></div>
            </div>
          </div>
        </div>
        <div class="bookloader-wrapper">
          <div class="bookloader-item">
            <div class="bookloader-animated-background">
              <div class="bookloader-background-master bookloader-book"></div>
              <div class="bookloader-background-master bookloader-below-book"></div>
              <div class="bookloader-background-master bookloader-book-title"></div>
              <div class="bookloader-background-master bookloader-below-book-title"></div>
              <div class="bookloader-background-master bookloader-book-author"></div>
              <div class="bookloader-background-master bookloader-below-book-author"></div>
              <div class="bookloader-background-master bookloader-book-link"></div>
            </div>
          </div>
        </div>
      </ul>
      <!-- <ul class="list">
        <li><p><a href="https://www.amazon.com/gp/product/B000VDO6J2/">An Anatomy of Thought</a>, by Ian Glynn.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/B00FUZQYBO/">Creativity, Inc.</a>, by Amy Wallace and Ed Catmull.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1101875321/">Designing Your Life</a>, by Bill Burnett and Dave Evans.</p></li>
        <li><p><a href="https://www.amazon.com/dp/0321965515/">Don’t Make Me Think</a>, by Steve Krug.</p></li>
        <li><p><a href="https://www.amazon.com/Drunk-Tank-Pink-Unexpected-Forces-ebook/dp/B008EKMEFC/">Drunk Tank Pink</a>, by Adam Alter.</p></li>
        <li><p><a href="https://www.amazon.com/dp/0881792055/">Elements of Typographic Style</a>, by Robert Bringhurst.</p></li>
        <li><p><a href="https://www.amazon.com/Grid-Systems-Graphic-Design-Communication/dp/3721201450/">Grid Systems in Graphic Design</a>, by Josef Müller-Brockmann.</p></li>
        <li><p><a href="https://www.amazon.com/dp/1250066115">How Not to Die: Discover the Foods Scientifically Proven to Prevent and Reverse Disease</a>, by Josef Müller-Brockmann.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/0060555661/">The Intelligent Investor</a>, by Benjamin Graham.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1607747308/">The Life-Changing Magic of Tidying Up</a>, by Marie Kondō.</p></li>
        <li><p><a href="http://www.shapeofdesignbook.com/">The Shape of Design</a>, by Frank Chimero.</p></li>
        <li><p><a href="https://standardsmanual.com/products/nyctacompactedition">New York City Transit Authority Graphic Standards Manual</a>, by NYCTA.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/081120068X/">Siddharta</a>, by Hermann Hesse and Hilda Rosner.</p></li>
        <li><p><a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/">The Visual Display of Quantitative Information</a>, by Edward R. Tufte.</p></li>
        <li><p><a href="https://www.amazon.com/Wabi-Sabi-Artists-Designers-Poets-Philosophers/dp/0981484603/">Wabi-Sabi for Artists, Designers, Poets &amp; Philosophers</a>, by Leonard Koren.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/B004VFUP2I/">Web form Design</a>, by Luke Wroblewski.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1501119982/">When Strangers Meet</a>, by Kio Stark.</p></li>
      </ul> -->

      <!-- <h2 class="heading">Fiction</h2>
      <ul class="list">
        <li><p><a href="https://www.amazon.com/gp/product/1401229301/">Luthor</a>, by Brian Azzarello and Lee Bermejo.</p></li>
        <li><p><a href="https://www.amazon.com/Rainbow-Six-Tom-Clancy/dp/0425170349/">Rainbow Six</a>, by Tom Clancy.</p></li>
        <li><p><a href="https://www.amazon.com/Golden-Son-Book-Rising-Saga/dp/0345539834/">Golden Son (Red Rising #2)</a>, by Pierce Brown.</p></li>
        <li><p><a href="https://www.amazon.com/Leviathan-Wakes-James-S-Corey/dp/0316129089">Leviathan Wakes (The Expanse #1)</a>, by James S.A. Corey.</p></li>
        <li><p><a href="https://www.amazon.com/Ready-Player-One-Ernest-Cline/dp/0307887448">Ready Player One</a>, by Ernest Cline.</p></li>
        <li><p><a href="https://www.amazon.com/Harry-Potter-Half-Blood-Prince-Book/dp/0545582997">Harry Potter and the Half-Blood Prince (Harry Potter #6)</a>, by J.K. Rowling.</p></li>
        <li><p><a href="https://www.amazon.com/Encyclopedia-Brown-Detective-Donald-Sobol/dp/0142408883">Encyclopedia Brown, Boy Detective</a>, by Donald J. Sobol.</p></li>
        <li><p><a href="https://www.amazon.com/Bombay-Boomerang-Hardy-Boys-49/dp/0448089491">The Bombay Boomerang (Hardy Boys #49)</a>, by Franklin W. Dixon.</p></li>
        <li><p><a href="https://www.amazon.com/Lies-Locke-Lamora-Gentleman-Bastards-ebook/dp/B000JMKNJ2">The Lies of Locke Lamora</a>, by Scott Lynch.</p></li>
      </ul> -->
    </div>
  </div>
</div>
