---
title: Deep Shah · Library
---

<div class="row">
  <div class="column-wrap">
    <div class="column">
      <h2 class="heading">Library</h2>
      <p>I’m always trying to expand my understanding of the world around me. Reading is one of the ways I do so. Here are some of my favorite non-fiction books.</p>
      <ul class="list">
        <li><p><a href="https://www.amazon.com/gp/product/B000VDO6J2/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">An Anatomy of Thought</a>, by Ian Glynn.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/B00FUZQYBO/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Creativity, Inc.</a>, by Amy Wallace and Ed Catmull.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1101875321/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Designing Your Life</a>, by Bill Burnett and Dave Evans.</p></li>
        <li><p><a href="https://www.amazon.com/dp/0321965515/ref=wl_it_dp_o_pd_nS_ttl?_encoding=UTF8&colid=3SVLQQ0LS5Z93&coliid=IBF9EL4QGVYLW">Don’t Make Me Think</a>, by Steve Krug.</p></li>
        <li><p><a href="https://www.amazon.com/Drunk-Tank-Pink-Unexpected-Forces-ebook/dp/B008EKMEFC/ref=as_li_ss_tl?s=books&ie=UTF8&qid=1445399846&sr=1-1&keywords=drunk+tank+pink&linkCode=sl1&tag=raggwrit-20&linkId=16e56f587fc90e84989a27bef832a36a">Drunk Tank Pink</a>, by Adam Alter.</p></li>
        <li><p><a href="https://www.amazon.com/dp/0881792055/ref=wl_it_dp_o_pC_nS_ttl?_encoding=UTF8&colid=3SVLQQ0LS5Z93&coliid=I3UUVD4MM01L9Y">Elements of Typographic Style</a>, by Robert Bringhurst.</p></li>
        <li><p><a href="https://www.amazon.com/Grid-Systems-Graphic-Design-Communication/dp/3721201450/ref=sr_1_1?ie=UTF8&qid=1495553632&sr=8-1&keywords=grid+systems+in+graphic+design">Grid Systems in Graphic Design</a>, by Josef Müller-Brockmann.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/0060555661/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">The Intelligent Investor</a>, by Benjamin Graham.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1607747308/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">The Life-Changing Magic of Tidying Up</a>, by Marie Kondō.</p></li>
        <li><p><a href="http://www.shapeofdesignbook.com/">The Shape of Design</a>, by Frank Chimero.</p></li>
        <li><p><a href="https://standardsmanual.com/products/nyctacompactedition">New York City Transit Authority Graphic Standards Manual</a>, by NYCTA.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/081120068X/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Siddharta</a>, by Hermann Hesse and Hilda Rosner.</p></li>
        <li><p><a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/ref=pd_bxgy_14_3?_encoding=UTF8&pd_rd_i=0961392142&pd_rd_r=D00H1SEHNZFNZF2YJ78S&pd_rd_w=PROtk&pd_rd_wg=Ltdtf&psc=1&refRID=D00H1SEHNZFNZF2YJ78S">The Visual Display of Quantitative Information</a>, by Edward R. Tufte.</p></li>
        <li><p><a href="https://www.amazon.com/Wabi-Sabi-Artists-Designers-Poets-Philosophers/dp/0981484603/ref=sr_1_1?ie=UTF8&qid=1502256756&sr=8-1&keywords=wabi+sabi">Wabi-Sabi for Artists, Designers, Poets &amp; Philosophers</a>, by Leonard Koren.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/B004VFUP2I/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">Web form Design</a>, by Luke Wroblewski.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1501119982/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">When Strangers Meet</a>, by Kio Stark.</p></li>
      </ul>
    </div>
  </div>
</div>
