---
title: Deep Shah
---

<div class="row">
  <div class="column-wrap">
    <div class="column">
      <h2>Friends</h2>
      <p>Incredible people who have influenced my life and career.</p>
      <h5>Design</h5>
      <ul>
        <li>
          <a class="" href="" target="_blank">Christine Yoon</a>
          <a class="" href="" target="_blank">Clint Balcom</a>
          <a class="" href="" target="_blank">Ed Moss</a>
          <a class="" href="" target="_blank">Eliane Kabkab</a>
          <a class="" href="" target="_blank">Fred Truman</a>
          <a class="" href="" target="_blank">Marco De La Cruz</a>
          <a class="" href="" target="_blank">Marcos Mejia</a>
          <a class="" href="" target="_blank">Megan Clegg</a>
          <a class="" href="" target="_blank">Micah Sivitz</a>
          <a class="" href="" target="_blank">Joy Sampoonachot</a>
          <a class="" href="" target="_blank">Stephanie Liu</a>
          <a class="" href="" target="_blank">Vijay Matthews</a>
        </li>
      </ul>
      <h5>Engineering</h5>
      <ul>
        <li>
          <a class="" href="" target="_blank">Bruno Carvalho</a>
          <a class="" href="" target="_blank">Dave McCarter</a>
          <a class="" href="" target="_blank">Eric Daniels</a>
          <a class="" href="" target="_blank">Fred Oliveira</a>
          <a class="" href="" target="_blank">Jake Lazaroff</a>
          <a class="" href="" target="_blank">Mike OBrien</a>
          <a class="" href="" target="_blank">Ronald Huveneers</a>
        </li>
      </ul>
      <h5>Product</h5>
      <ul>
        <li>
          <a class="" href="" target="_blank">Drew DiPalma</a>
          <a class="" href="" target="_blank">Gavin </a>
          <a class="" href="" target="_blank">Jaikaran Sawhny</a>
          <a class="" href="" target="_blank">Meeka Metzger</a>
          <a class="" href="" target="_blank">Niyati Shah</a>
          <a class="" href="" target="_blank">Rick Stern</a>
          <a class="" href="" target="_blank">Niyati Shah</a>
        </li>
      </ul>
      <h5>Marketing, Sales, Public Relations</h5>
      <ul>
        <li>
          <a class="" href="" target="_blank">Caroline Perny</a>
          <a class="" href="" target="_blank">Christina DiRusso</a>
          <a class="" href="" target="_blank">James Rappaport</a>
          <a class="" href="" target="_blank">Jessica Salinas</a>
          <a class="" href="" target="_blank">Sneha Mehta</a>
        </li>
      </ul>
      <h2>Books</h2>
      <p>These books have helped influence and inspire me over the years.</p>
      <ul class="books">
        <li class="book">
          <a class="book-image book-image-link" href="https://www.goodreads.com/book/show/8787793-multipliers"><img class="book-image" src="" /></a>
          <p class="book-title">Multipliers: How the Best Leaders Make Everyone Smarter</p>
          <p class="book-author">Liz Wiseman</p>
          <!-- <p class="book-link"><a href="https://www.goodreads.com/book/show/8787793-multipliers">Book Link</a></p> -->
        </li>
      </ul>
      <!-- <ul class="list">
        <li><p><a href="https://www.amazon.com/gp/product/B000VDO6J2/">An Anatomy of Thought</a>, by Ian Glynn.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/B00FUZQYBO/">Creativity, Inc.</a>, by Amy Wallace and Ed Catmull.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1101875321/">Designing Your Life</a>, by Bill Burnett and Dave Evans.</p></li>
        <li><p><a href="https://www.amazon.com/dp/0321965515/">Don’t Make Me Think</a>, by Steve Krug.</p></li>
        <li><p><a href="https://www.amazon.com/Drunk-Tank-Pink-Unexpected-Forces-ebook/dp/B008EKMEFC/">Drunk Tank Pink</a>, by Adam Alter.</p></li>
        <li><p><a href="https://www.amazon.com/dp/0881792055/">Elements of Typographic Style</a>, by Robert Bringhurst.</p></li>
        <li><p><a href="https://www.amazon.com/Grid-Systems-Graphic-Design-Communication/dp/3721201450/">Grid Systems in Graphic Design</a>, by Josef Müller-Brockmann.</p></li>
        <li><p><a href="https://www.amazon.com/dp/1250066115">How Not to Die: Discover the Foods Scientifically Proven to Prevent and Reverse Disease</a>, by Josef Müller-Brockmann.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/0060555661/">The Intelligent Investor</a>, by Benjamin Graham.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1607747308/">The Life-Changing Magic of Tidying Up</a>, by Marie Kondō.</p></li>
        <li><p><a href="http://www.shapeofdesignbook.com/">The Shape of Design</a>, by Frank Chimero.</p></li>
        <li><p><a href="https://standardsmanual.com/products/nyctacompactedition">New York City Transit Authority Graphic Standards Manual</a>, by NYCTA.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/081120068X/">Siddharta</a>, by Hermann Hesse and Hilda Rosner.</p></li>
        <li><p><a href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/0961392142/">The Visual Display of Quantitative Information</a>, by Edward R. Tufte.</p></li>
        <li><p><a href="https://www.amazon.com/Wabi-Sabi-Artists-Designers-Poets-Philosophers/dp/0981484603/">Wabi-Sabi for Artists, Designers, Poets &amp; Philosophers</a>, by Leonard Koren.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/B004VFUP2I/">Web form Design</a>, by Luke Wroblewski.</p></li>
        <li><p><a href="https://www.amazon.com/gp/product/1501119982/">When Strangers Meet</a>, by Kio Stark.</p></li>
      </ul> -->

      <!-- <h2 class="heading">Fiction</h2>
      <ul class="list">
        <li><p><a href="https://www.amazon.com/gp/product/1401229301/">Luthor</a>, by Brian Azzarello and Lee Bermejo.</p></li>
        <li><p><a href="https://www.amazon.com/Rainbow-Six-Tom-Clancy/dp/0425170349/">Rainbow Six</a>, by Tom Clancy.</p></li>
        <li><p><a href="https://www.amazon.com/Golden-Son-Book-Rising-Saga/dp/0345539834/">Golden Son (Red Rising #2)</a>, by Pierce Brown.</p></li>
        <li><p><a href="https://www.amazon.com/Leviathan-Wakes-James-S-Corey/dp/0316129089">Leviathan Wakes (The Expanse #1)</a>, by James S.A. Corey.</p></li>
        <li><p><a href="https://www.amazon.com/Ready-Player-One-Ernest-Cline/dp/0307887448">Ready Player One</a>, by Ernest Cline.</p></li>
        <li><p><a href="https://www.amazon.com/Harry-Potter-Half-Blood-Prince-Book/dp/0545582997">Harry Potter and the Half-Blood Prince (Harry Potter #6)</a>, by J.K. Rowling.</p></li>
        <li><p><a href="https://www.amazon.com/Encyclopedia-Brown-Detective-Donald-Sobol/dp/0142408883">Encyclopedia Brown, Boy Detective</a>, by Donald J. Sobol.</p></li>
        <li><p><a href="https://www.amazon.com/Bombay-Boomerang-Hardy-Boys-49/dp/0448089491">The Bombay Boomerang (Hardy Boys #49)</a>, by Franklin W. Dixon.</p></li>
        <li><p><a href="https://www.amazon.com/Lies-Locke-Lamora-Gentleman-Bastards-ebook/dp/B000JMKNJ2">The Lies of Locke Lamora</a>, by Scott Lynch.</p></li>
      </ul> -->
    </div>
  </div>
</div>
