---
title: Deep Shah · Work
---

<div class="row">
  <div class="column-wrap">
    <div class="column">
      <ul class="posts">
        <% page_articles.each_with_index do |article, i| %>
        <% if article.data.category != 'portfolio' && article.data.category != 'old' %>
          <% link_to article, :class => "post-title" do %><%= article.data.title %><% end %>
          <p><%= article.data.date %></p>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
